$mainBlue:cornflowerblue;
$mainBlack:#000000;
$mainWhite:#fff;
$mainEmRed:red;

$btnOrange:orange;
$btnGreen:green;
$btnLightGreen:lightgreen;
$btnBlue:blue;
$btnRed:red;

$backGray:#888888;
$backLightGray:#cccccc;
$backOrange:orange