.showcard_outer{
  width:100%;
  display:flex;
  justify-content: space-evenly;
  background-color: $backLightGray;
  padding-left: 50px;
  padding-right:50px;
  .showcard_left{
    border-right:1px black solid;
    width:50%;
    background-color:$mainWhite;
    &__cardform{
      display:block;
      border-top:1px solid black;
      border-bottom:1px solid black;
      &__row{
        display:flex;
        justify-content: space-around;
        padding:2px 30px 2px 30px;
        &--label{
          width:50%;
          border:1px solid $backLightGray;
        }
        &--input{
          width:50%;
        }
        &__company,&__address,&__email,&__tel{
          width:50%;
          display:flex;
          &--value{
            width:90%;
          }
          &--icon{
            width:10%;
            text-align: center;
          }
        }
      }
      &--subtitle{
        &--em{
          @include fontmixEmBlack;
        }
      }
      &__btns{
        display: flex;
        justify-content: space-evenly;
        #card__startedit,#card__rebertedit,#card__destroybtn{
          // width:33%;
          // color:$mainBlue;
          // border:1px solid $mainBlue;
          // border-radius: 5px;
          // margin:0 10px 0 10px;
          font-size:0.8em;
          // &:hover{
          //   color:$btnOrange;
          //   border:1px solid $btnOrange;
          // }
        }
        #card__updatebtn,#card__rebertedit{
          visibility:hidden;
        }
        #card__updatebtn{
          // border-style: none;
          // border:1px solid red;
          // border-radius: 5px;
          // @include anim-color-change-3sred;
        }
        
      }
    }
    &__episode{
      margin-top:1px;
      border:2px solid $mainBlue;
      &--subtitle{
        &--em{
          @include fontmixEmBlack;
        }
      }
      &__form{
        display:block;
        width:90%;
        margin-left:10px;
        &--aaa{
          border:1px solid red;
        }
      }
    }
  }
  .showcard_right{
    background-color:$mainWhite;
    width:50%;
    overflow:scroll;
    &--subtitle{
      &--em{
        @include fontmixEmBlack;
      }
    }
    &__episode{
      display:flex;
      justify-content: flex-start;
      &__more:hover > ul{
        display:block;
      }
      &__more > ul{
        display:none;
      }
      &--index{
        width:50px;
        display:block;
        margin-left: 10px;
        margin-top:2px;
      }
      &--contenthead,&--when,&--nickname{
        margin-left: 10px;
        margin-top:2px;
      }
      &--contenthead{
        width:250px;
      }
      &--when{
        width:100px;
      }
      &--nickname{
        width:100px;
        margin-right:10px;
      }
    }
  }
}