.showcard_outer{
  border:3px green solid;
  width:100%;
  height:80vh;
  display:flex;
  justify-content: space-evenly;
  .showcard_left{
    border:1px red solid;
    width:40%;
    &__table{
      width:90%;
      margin:5px 10px 10px;
      &__left{
        width:30%;
      }
    }
    &__form{
      display:block;
      width:90%;
      margin-left:10px;
    }
  }
  .showcard_right{
    border:1px blue solid;
    width:60%;
    &__episode{
      display:flex;
      justify-content: space-evenly;
      &__more:hover > ul{
        display:block;
      }
      &__more > ul{
        display:none;
      }
    }
  }
}