.searchnormform-outer{
  background-color: $backLightGray;
  height:calc(100vh - 150px);
  padding: 0 50px 0 50px;
  .searchnormform-inner{
    background-color: $mainWhite;
    height:calc(100vh - 150px);
    width:100%;
    margin:0 auto;
    &__form{
      border:1px solid black;
      padding:0 10px;
      &__row{
        display:flex;
        justify-content:space-around;
        margin-top:5px;
        &--label{
          width:30%
        }
        &--input{
          width:70%;
        }
      }
      &__btns{
        text-align: center;
       margin-top:5px; 
      }
      &--submit{
        width:50%;
      }
    }
    &__results{
      height:100%;
      &--Group{
        padding:0 2px 0 2px;
        height:30%;
        overflow:scroll;
      }
      &--User{
        padding:0 2px 0 2px;
        height:30%;
        overflow:scroll;
      }
      &__row{
        display:flexbox;
        justify-content: flex-start;
        &--title{
          margin-top:5px;
          text-align: center;
        }
        &--number{
          width:30px;
          margin-left:5px;
        }
        &--link{
          font-size:0.8em;
          padding:5px;
        }
      }
    }
  }
}