.devise_outer{
  width:100%;
  height:calc(100vh - 150px);
  background-color:$backGray;
  .devise_body{
    width:70%;
    margin:0 auto;
    background-color:$backLightGray;
    text-align: center;
    &__login, &__signup{
      &--title{
        display:inline-block;
        margin:20px 0 10px 0;
        font-size: 20px;  
      }
    &__form{
      border:solid 1px black;
      padding: 0 0 5px 0;
      margin: 0 0 10px 0;
      &--mailaddress{
        display:block;
        margin:10px 0 10px 0;
        font-size: 20px;  
      }
      &--password{
        display:block;
        margin:10px 0 10px 0;
        font-size: 20px;  
      }
      &--nickname{
        display:block;
        margin:10px 0 10px 0;
        font-size: 20px;
      }
      &--submitbtn{
        font-size:20px;
        padding:2px 2px 2px 2px;
      }
    }
    &__googlebtn{
      padding:2px 5px 2px 5px;
      text-decoration: none;
      & a{
        color:white;
      }
      &:hover{
        background-color:$btnOrange;
        border:1px solid $btnOrange;
      }
    }
    }
    &--link{
      display:block;
      margin:10px 0 0 0;
      font-size: 20px;
      color:$mainBlack;
      text-decoration: none;
      &:hover{
        color:$mainBlue;
      }
    }
    
  }
}