.episode_outer{
  width:100%;
  height:calc(100vh - 150px);
  background-color: $backLightGray;
  padding-left:50px;
  padding-right:50px;
  .episode_inner{
    background-color: $mainWhite;
    height:calc(100vh - 150px);
    &__form{
      &--content,&--where{
        overflow:scroll;
        display:block;
        margin:0 auto;
        width:100%;
      }
      &--when{
        display:block;
        margin:0 auto;
        width:100%;
      }
    }
    &__btns{
      display:flex;
      justify-content: flex-sart;
      margin-left:10px;
    }
    #episode_inner__form__updatebtn{
      height:30px;
      width:200px;
      @include anim-color-change-3sred;
      border-style: none;
      border:1px solid black;
      margin-bottom:10px;
      border-radius: 5px;
    }
    
    #episode_inner__startedit,
    #episode_inner__rebertedit,
    #episode_inner__backcardshowbtn{
      display:block;
      width:100px;
      font-size:0.8em;
      color:$mainBlue;
      border:1px solid $mainBlue;
      margin-right:50px;
      border-radius: 5px;
      &:hover{
        border:1px solid $btnOrange;
        color:$btnOrange;
      }
    }
    #episode_inner__rebertedit{
      display:none;
    }
    #episode_inner__destroybtn{
      display:block;
      width:100px;
      font-size:0.8em;
      color:$btnGreen;
      border:1px solid $btnGreen;
      margin-right:50px;
      border-radius: 5px;
      &:hover{
        border:1px solid $btnOrange;
        color:$btnOrange;
      }
    }
  }
}