.partial__footer{
  height:50px;
  background-color:$mainBlue;
  color:$mainWhite;
  text-align: center;
}
.devisepartial__footer{
  height:50px;
  background-color:$mainBlue;
  color:$mainWhite;
  text-align: center;
}
  