<%= render 'partial/header' %>
<div class="searchcamera_outer">
  <div class="searchcamera_body">
  <div class="headmessage"><p>今から<span class="headmessage--red">名刺の写真を撮影して</span>、名刺のデータを検索します。</p><br><small>この機能ではブラウザのカメラを利用いたします。<br>ブラウザに<span class="headmessage--red">「カメラへのアクセスの許可を求め」られた場合は、許可してください。</span><br>※今から撮影する写真を画像データとして保存することはありません。</small></div>
  <div class="searchcamera__step1">
    <!-- カメラ映像が描画されます。 -->
    <video id="video_area" class="video_area_cls" style="background-color: #000" autoplay></video>
    <!-- 押下するとカメラ映像から静止画をキャプチャします。 -->
    <button id="video_area_btn" class="video_area_cls animationEmRed" onclick="go_step2()">撮影 します</button>
    <p class="video_area_cls">上の領域に名刺の全体が映るようにして、「撮影」ボタンを押してください</p>
    <!-- キャプチャした静止画が描画されます。 -->
  </div>
  <div class="searchcamera__step2">
    <canvas id="capture_image" class="capture_image_cls" style="display:block;"></canvas>
    <br>
    <button id="drawCanvas" class="capture_image_cls animationEmRed" onclick="drawCanvas()">この画像で検索する</button>
    <br>
    <button id="rebertpic_btn" class="capture_image_cls" onclick="rebert_step1()">撮影をやりなおしたい</button>
    <p class="capture_image_cls">こちらの画像から文字を認識して検索します。<br>よろしければ、「この画像で検索する」ボタンをおしてください。<br>別の画像で認識したい場合は「撮影をやりなおしたい」ボタンを押してください。 </p>
  <div>
  <div class="searchcamera__step3">
    <hr class="drawCanvas__after">
    <p class="drawCanvas__after">検索結果を表示します。詳細を確認したい名刺を選択してください。</p>
    <div class="searchresults drawCanvas__after"></div>
  </div>
</div>
</div>
</div>
<%= render 'partial/footer' %>
<%= javascript_include_tag 'specificjs/searchcamera'%>