@mixin fontmixEmBlack {
  font-weight: bold;
  color:$mainBlack;
}
@mixin anim-color-change-3sred{
  animation: color-change 3s linear infinite;
}
@keyframes color-change {
  0%,100%{
    color:black;
    border-color: black;
  }

  50%{
    color:$mainEmRed;
    border-color:$mainEmRed;
  }
}

@mixin anim-bordercolor-change-3sred{
  animation: bordercolor-change 3s linear infinite;
}
@keyframes bordercolor-change {
  0%,100%{
    border-color: black;
  }

  50%{
    border-color:$mainEmRed;
  }
}


